.collection{
    padding: 20px 0;

}
#collection{
    width: 90% !important;
}
.container-fluid{
    padding: 0px;
}
.collection-list{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.collection-list li{
    padding: 15px;

}
.collection-card {
    position: relative;
    height: 400px; 
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s linear; 
  }
  .collection-card:hover {
    transform: scale(1.05);
  }
  .collection-card .card-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .collection-card .card-text{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .collection-card .btn-link{
    
    text-decoration: none;
    
   
  }
  .collection-card .btn-link .span{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffff;
    transition: 1s linear;
  }
  .collection-card .btn-link .span:hover {
    background-color: #ffff;
    color: rgb(0, 0, 0);
    font-weight:600 ;
  }